In [2]:
# Q1. List any five functions of the pandas library with execution.
# read_csv(): Used to read data from a CSV file and create a DataFrame.
import pandas as pd 
df=pd.read_csv('services.csv')

In [3]:
# head(): Returns the first n rows of the DataFrame (by default, n=5).
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [4]:
# tail(): Returns the last n rows of the DataFrame (by default, n=5).
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [7]:
# groupby(): Used for grouping data based on one or more columns.
group_data=df.groupby('location_id')
group_data.get_group(22)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [8]:
# describe() function is used to generate descriptive statistics of a DataFrame. 
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [9]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.
import pandas as pd

def reindex_with_increment(df):
    new_index = range(1, len(df)*2, 2)
    df_reindexed = df.copy()
    df_reindexed.index = new_index
    return df_reindexed

# Example usage
data = {'A': [10, 20, 30, 40],
        'B': [100, 200, 300, 400],
        'C': [1000, 2000, 3000, 4000]}

df = pd.DataFrame(data)
df_reindexed = reindex_with_increment(df)
print(df_reindexed)

    A    B     C
1  10  100  1000
3  20  200  2000
5  30  300  3000
7  40  400  4000

In [10]:
# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
# iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
# function should print the sum to the console.
import pandas as pd
def sum(df):
    three_sum=df['Values'].iloc[:3]
    total_sum=three_sum.sum()
    print("Sum is ",total_sum)

data={'Values':[10,20,40,30,60]}
df=pd.DataFrame(data)
sum(df)

Sum is  70

In [14]:
# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
# 'Word_Count' that contains the number of words in each row of the 'Text' column.
def Count(df):
    func=lambda text:len(str(text).split())
    df['Word_Count']=df['Text'].apply(func)
    print(df)


data={'Text':['Jai Mishra','Jammy','Ram']}
df=pd.DataFrame(data)
Count(df)

         Text  Word_Count
0  Jai Mishra           2
1       Jammy           1
2         Ram           1

In [16]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?
# DataFrame.size returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.
df.size

6

In [17]:
# DataFrame.shape returns a tuple representing the dimensions of the DataFrame.
# It provides the number of rows and the number of columns in the DataFrame.
# The attribute returns a tuple (rows, columns).
df.shape

(3, 2)

In [ ]:
# Q6. Which function of pandas do we use to read an excel file?
# pd.read_excel("Filename") is used to read excel file in pandas

In [36]:
# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column
# 'Username' in df that contains only the username part of each email address.
import pandas as pd

def extract_username(series):
    
    series['Username'] = series.str.split('@').str[0]

data = {'Email': ['john@example.com', 'emma@test.com', 'michael@domain.com']}
series = pd.Series(data['Email'])

extract_username(series)
series['Username']

0       john
1       emma
2    michael
dtype: object

In [44]:
# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
# all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
# function should return a new DataFrame that contains only the selected rows.
data={"A":[2,3,5,7,8,6,9],
"B":[4,2,5,6,7,5,7],
"C":[1,3,45,53,53,3,4]
}
df=pd.DataFrame(data)
df[(df['A'] > 5) & (df['B'] < 10)]

   A  B   C
3  7  6  53
4  8  7  53
5  6  5   3
6  9  7   4

In [46]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
# median, and standard deviation of the values in the 'Values' column.
data={"Values":[34,34,2,432,22,231,1223,421]}
df=pd.DataFrame(data)
df.describe()

            Values
count     8.000000
mean    299.875000
std     413.410014
min       2.000000
25%      31.000000
50%     132.500000
75%     423.750000
max    1223.000000

In [47]:
# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
# create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
# for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
# should include the current day.
import pandas as pd

def calculate_moving_average(df):
    
    df.sort_values(by='Date', inplace=True)


    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()


data = {'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10'],
        'Sales': [100, 120, 150, 110, 130, 140, 180, 200, 160, 170]}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])

calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2023-07-01    100     100.000000
1 2023-07-02    120     110.000000
2 2023-07-03    150     123.333333
3 2023-07-04    110     120.000000
4 2023-07-05    130     122.000000
5 2023-07-06    140     125.000000
6 2023-07-07    180     132.857143
7 2023-07-08    200     147.142857
8 2023-07-09    160     152.857143
9 2023-07-10    170     155.714286

In [50]:
# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
# Monday, Tuesday) corresponding to each date in the 'Date' column.
import pandas as pd

def add_weekday_column(df):
    
    df['Date'] = pd.to_datetime(df['Date'])
    
    
    df['Weekday'] = df['Date'].dt.day_name()

data = {'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05']}
df = pd.DataFrame(data)

add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-07-01   Saturday
1 2023-07-02     Sunday
2 2023-07-03     Monday
3 2023-07-04    Tuesday
4 2023-07-05  Wednesday

In [51]:
# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.
import pandas as pd

def select_rows_between_dates(df):
    
    df['Date'] = pd.to_datetime(df['Date'])
    
    
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    return selected_rows

data = {'Date': ['2023-01-10', '2023-01-15', '2023-01-25', '2023-02-05', '2023-02-20']}
df = pd.DataFrame(data)

selected_df = select_rows_between_dates(df)
print(selected_df)

        Date
0 2023-01-10
1 2023-01-15
2 2023-01-25

In [52]:
# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
# be imported?
# The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. pandas